
<html>

<head>
    <title>computer engineering mutex concept - Google Search</title>
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <link  href="static/css/style.css" rel="stylesheet" />
</head>

<body>

    <div id="searchresultsarea">
        <p id="searchresultsnumber">About 155,000 results (0.56 seconds) </p>
        <div class="searchresult">
            <h2>Lock (computer science) - Wikipedia</h2>
            <a>https://en.wikipedia.org/wiki/Lock_(computer_science)</a> <button>▼</button>
            <p>In computer science, a lock or mutex (from mutual exclusion) is a synchronization mechanism for enforcing limits on access to a resource in an</p>
            <p> environment where there are many threads of execution.</p>
        </div>

    </div>

</body>

</html>